/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    /* font-style: italic; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */


/* container */
.container  {
    width: 100%;
    height: 720px;
    background-color:  #f2f2f2;
    margin-top: 0;
}
/* end container */

header, nav, .judul  {
    margin-top: 1.8rem;
}
/* header-nav  */
.header-nav, ul, li  {
    display: flex;
    justify-content: space-between;
    margin: 0 .5rem;

}


/* end header-nav  */

/* header */
header {
    
    /* background-color: blue; */
}
/* end header */

.header-list li a, .navbar li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.judul{
    /* background-color: rgb(255, 0, 191); */
    font-size: 2rem;
    letter-spacing: 10px;
}

/* navbar */
nav {
    /* background-color: aqua; */
}
/* end navbar */


/* main */
main {
    display: flex;
    position: relative;
    z-index: 1;
}
/* Margin atas (top)
Margin kanan (right)
Margin bawah (bottom)
Margin kiri (left) */
.slogan, span {
    position: absolute;
    font-family: 'EB Garamond', serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 7rem;
    margin: -4rem -50rem 0 10rem;
    letter-spacing: 30px;
    z-index: -.1;
    color: white;
}
section, aside {
    margin-top: 7rem;
}
.title {
    width: 40%;
    height: auto;

    /* background-color: aqua; */
}

aside {
    width: 60%;
    height: auto;
}

.title {
    position: relative;
    font-weight: bold;
    margin: auto;
    font-size: 3rem;
    margin-left: 2.5rem;
}

aside, .mirror {
    width: 400px;
    height: auto;
    /* margin-right: 100px; */
    display: flex;
    z-index: 2;
}

.mirror.right {
    transform: scaleX(-1);
    margin-right: 10rem;

}
.mirror.left {
    transform: scaleX(1);
    margin-left: -50rem;
}
/* end main */

/* container-content */
.container-content {
    width: 100%;
    height: 300px;
    background-color: silver;
    margin-top: 8rem;
    
}
/* .container-content, .content {
    align-items: center;
} */
.content {
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    margin: auto 1rem 15px 15.5rem;
}

.one {
    background-color: aqua;
}

.two {
    background-color: aqua;
}

.three {
    background-color: aqua;
    height: 15px;

}

.four {
    background-color: aqua;
    height: 15px;

}

/* end container-content */